{{!-- Site header --}}
<header>

  {{!-- Default navigation --}}
  <nav class="navbar navbar__default">
    <div class="navbar-header container">
      <div class="col-xs-3 col-sm-4 navbar-search">
        <div class="navbar-search btn-search--open">
          <div class="navbar-search__group">
            <i class="fa fa-search"></i>
            <p class="hidden-xs">SEARCH</p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 navbar-logo">
        <a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
      </div>
      <div class="col-xs-3 col-sm-4 navbar-menu">
        <button class="btn-navbar--open pull-right">
          <span class="active-page hidden-xs">Menu</span>
          <i class="fa fa-bars"></i>
        </button>
      </div>
    </div>
    <div class="navbar-navigation">
      <a href="" class="btn--close btn-navbar--close">
        <span class="hidden">Close</span>
      </a>
      {{navigation}}
    </div>
  </nav>
  <div class="clearfix"></div>

</header>
