{{!-- Site header --}}
<header>

{{!-- Default navigation --}}
<nav class="navbar navbar-default navbar__default clearfix">
  <div class="navbar-header container">
    <div class="col-sm-4 hidden-xs navbar-search">
      <form action="#" method="get" class="search-form navbar-search__form">
        <div class="input-group navbar-search__input-group">
          <span class="input-group-addon navbar-search__input-group-addon"><i class="fa fa-search"></i></span>
          <input type="search" class="form-control navbar-search__form-control" placeholder="SEARCH">
        </div>
      </form>
    </div>
    <div class="col-sm-4 col-xs-6 navbar-logo text-center">
      <a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
    </div>
    <div class="col-sm-4 col-xs-6 navbar-menu">
      <button class="navbar-open pull-right">
        <span class="active-page">Menu</span>
        <i class="fa fa-bars"></i>
      </button>
    </div>
  </div>
	<div class="navbar-navigation">
		<a href="#" class="navbar-close">
	    <span class="hidden">Close</span>
	  </a>
		{{navigation}}
	</div>
</nav>

</header>
