{{!-- Navigation --}}
<ul class="nav navbar-nav navigation">
    {{#foreach navigation}}
        <li class="nav-{{slug}}{{#if current}} nav-current{{/if}} nav-menu" role="presentation">
            <a href="{{url absolute="true"}}">{{label}}</a>
        </li>
    {{/foreach}}
</ul>
