{{!-- Blog search --}}
<div class="search">
  <a href="" class="btn--close btn-search--close">
    <span class="hidden">Close</span>
  </a>
  <form action="/" method="get" class="search-form">
    <input type="text" id="search-field" class="search-input placeholder-dark" 
          placeholder="Search" autocomplete="off" required>
    <button class="search-icon" type="submit" value="search">
        <i class="fa fa-search fa-lg fa-rotate-90"></i>
    </button>
  </form>
  <div class="search-results container" id="results"></div>
</div>
