{{!-- Social Media Links (used in footer and header) --}}
<ul class="social-media-list">
    {{!-- Facebook --}}
    <li class="social-media-list__item">
        <a href="{{facebook_url}}" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
    </li>
    {{!-- Twitter --}}
    <li class="social-media-list__item">
        <a href="{{twitter_url}}" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
    </li>
    {{!-- Google Plus --}}
    <li class="social-media-list__item">
        <a href="https://plus.google.com/+googleplus" target="_blank">
            <i class="fa fa-google-plus" aria-hidden="true"></i>
        </a>
    </li>
    {{!-- Linkedin --}}
    <li class="social-media-list__item">
        <a href="https://linkedin.com" target="_blank">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
    </li>
    {{!-- Instagram --}}
    <li class="social-media-list__item">
        <a href="https://instagram.com" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
    </li>
    {{!-- Pinterest --}}
    <li class="social-media-list__item">
        <a href="https://pinterest.com" target="_blank">
            <i class="fa fa-pinterest" aria-hidden="true"></i>
        </a>
    </li>
    {{!-- RSS --}}
    <li class="social-media-list__item">
        <a href="/rss" target="_blank">
            <i class="fa fa-rss" aria-hidden="true"></i>
        </a>
    </li>
</ul>
