//===================================
// Lists
//===================================

ul, ol {
  margin-top: $line-height-base;
  margin-bottom: $line-height-base;

  li { line-height: $line-height-base; }

  ul, ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}