//===================================
// Misc
//===================================

em, i, .italic {
	font-style: italic;
}

strong, b, .bold {
  font-weight: $font-weight-bold;
}

hr {
  border: 0;
  height: 1px;
  background-color: $border-color;
  margin: $leading 0;
}

button, .button {
  padding: 0.5em 1em;
  border: 2px solid $light-color;
  background: transparent;
  text-transform: uppercase;
  color: $light-color;
  font-weight: $font-weight-semibold;
  font-family: $heading-font-family;
  font-size: $font-size-root;
  transition: all $transition-speed-base;

  &:hover {
  	background: $light-color;
  	color: $dark-color;
  }

  &:active, &:focus { outline: none; }
}

.btn--close {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 20px;
  right: 20px;
  padding: 0;

  &:before, &:after {
    width: 60px;
    background: $light-color;
    top: 30px;
    content: '';
    position: absolute;
    height: 2px;
    transition: background 0.15s ease;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

  &:hover:before,
  &:hover:after {
    background: $link-color;
  }
}