//===================================
// Misc
//===================================

em, i, .italic {
	font-style: italic;
}

strong, b, .bold {
  font-weight: $font-weight-bold;
}

hr {
  border: 0;
  height: 1px;
  background-color: $border-color;
  margin: $leading 0;
}

//Placeholder colors
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba($light-color, 0.5);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba($light-color, 0.5);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba($light-color, 0.5);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba($light-color, 0.5);
}

button, .button {
  color: $light-color;
  font-weight: $font-weight-semibold;
  font-family: $heading-font-family;
  font-size: $font-size-root;
  transition: all $transition-speed-base;
  background: transparent;
  text-transform: uppercase;
  display: inline-block;
  border: 2px solid $light-color;
  padding: 0.25em 0.5em;

  @media #{$sm} {
    padding: 0.5em 1em;
  }

  &:hover {
  	background: $light-color;
  	color: $dark-color;
  }

  &:active, &:focus { outline: none; }
}