//===================================
// Blockquote
//===================================

blockquote {
  margin: $leading 0;
  font-size: $font-size-root * 1.25;
  line-height: $line-height-base;
  padding: $leading;
  font-style: italic;
  text-align: center;
  background-color: darken($background-color, 5%);

  p { margin: 0; }
}