//===================================
// Misc
//===================================

em, i, .italic {
	font-style: italic;
}

strong, b, .bold {
  font-weight: $font-weight-bold;
}

hr {
  border: 0;
  height: 1px;
  background-color: $border-color;
  margin: 0 $line-height-base;
}