//===================================
// Code Blocks
//===================================

pre,
code {
  font-family: $font-family-monospace;
  background-color: darken($background-color, 5%);
}

// Code block
pre {
  overflow: auto;
  margin-top: 0;
  margin: $leading 0;
  padding: $leading;
  font-size: $font-size-root;
  white-space: pre-wrap;
  word-wrap: break-word;
}

// Inline code
p code {
  padding: $leading * 0.5 $leading * 0.25;
}