//===================================
// Links
//===================================

a {
  color: $dark-color;
  text-decoration: none;
  transition: all $transition-speed-base;

  &:hover {
    color: $link-color-hover;
    text-decoration: none;
  }
}

p {
  a {
    color: $link-color;
    text-decoration: none;
    transition: all $transition-speed-base;

    &:visited { color: $link-color-visited; }

    &:hover {
      color: $link-color-hover;
      text-decoration: none;
      transition: all $transition-speed-base;
    }

    &:active { color: $link-color; }
  }
}