//===================================
// Links
//===================================

a {
  color: $dark-color;
  text-decoration: none;
  transition: all $transition-speed-base;

  &:active, &:focus, &:hover { text-decoration: none; }

  &:hover { color: $link-color-hover; }
}

p {
  a {
    color: $link-color;
    text-decoration: none;
    transition: all $transition-speed-base;

    &:visited { color: $link-color-visited; }

    &:hover {
      color: $link-color-hover;
      text-decoration: none;
      transition: all $transition-speed-base;
    }

    &:active { color: $link-color; }
  }
}

.post {
  a:hover { text-decoration: none; }
}

.post-content {
  a:hover { text-decoration: underline; }
}