//===================================
// Links
//===================================

a {
  color: $color-dark;
  text-decoration: none;
  transition: color $global-transition;

  &:active, &:focus, &:hover { text-decoration: none; }

  &:hover { color: $color-link-hover; }
}

.kg-card-markdown {
  a {
    color: $color-link;
    text-decoration: none;
    transition: color $global-transition;

    &:visited { color: $color-link-visited; }

    &:hover {
      color: $color-link-hover;
      text-decoration: none;
      transition: color $global-transition;
    }

    &:active { color: $color-link; }
  }
}

.post {
  a:hover { text-decoration: none; }
}
