//===================================
// Breakpoints
//===================================

$screen: "only screen" !default;

// Mobile phones
$xs: "#{$screen} and (max-width: 47.938em)"; // 767px

// Tablets
$sm: "#{$screen} and (min-width: 48em)"; // 768px

// Smaller laptops
$md: "#{$screen} and (min-width: 62em)"; // 992px

// Larger devices 
$lg: "#{$screen} and (min-width: 75em)"; // 1200px

// Breakpoints 
// Example usage:
// @include mq($from: sm) {}
$mq-breakpoints: (
  xs:  767px,
  sm:  768px,
  md:  992px,
  lg: 1200px
);
