//===================================
// Miscellaneous
//===================================

// Base transition speed
$global-transition:				    .4s;

// Max width
$max-width-sm:							  46.875em;
$max-width-md:							  60.625em;
$max-width-lg:							  73.125em;

// Border radius
$global-border-radius:        10px;
