//===================================
// Typography
//===================================

$font-family-sans-serif:	"Roboto", Tahoma, Arial, sans-serif;
$font-family-serif:       "Libre Baskerville", Tahoma, Arial, serif;
$font-family-monospace: 	Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:      	$font-family-sans-serif;

$font-size-root: 					1rem;


$line-height-base: 				1.6;

$leading:									1em;

$font-weight-regular: 		400;
$font-weight-bold: 				700;

$heading-font-family:    	"Francois One", Tahoma, Arial, sans-serif;
$heading-font-weight:    	$font-weight-bold;
$heading-line-height:    	$line-height-base;
