//===================================
// Post style
//===================================

.post {
  background-color: $light-color;
}

.post-header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: $dark-color;

  .post-header__info {
    text-align: center;

    .post-header__tag, 
    .post-header__title,
    .post-header__author {
      color: $light-color;
      margin: 0;

      a { color: $light-color; }
    }
  }


  .post-header__title {
    @media #{$xs} { font-size: 2rem; }
    @media #{$sm} { font-size: 3rem; }
    @media #{$md} { font-size: 3.5rem; }
    @media #{$lg} { font-size: 4rem; }
  }
}

.post-content {
  max-width: 60.625em;
  padding-top: 2em;
  padding-bottom: 2em;

  p {
    max-width: 42em;
    margin-left: auto;
    margin-right: auto;

    img { 
      width: calc(100% + 30px);
      margin: 1em -15px;
    }

    @media #{$sm} {
      font-size: 1.2rem;
      max-width: 35em;

      img { 
        width: calc(100% + 10em);
        margin: 1em -5em;
        max-width: 50.52em;
      }
    }
  }
}