/***************************************************************************/
/* Search                                                                  */
/***************************************************************************/
.search {
    background: $background-color;
    height: 100%;
    padding: 80px 20px 0;
    position: fixed;
    z-index: 999;
    display: none;
    left: 0;
    width: 100%;
    top: 0;

    .search-form {     
        margin: 0 auto 20px;
        max-width: 640px;
        position: relative;
        width: 100%;

        input { 
            color: $brand-color; 
            font-weight: 700;
            border: none;
            display: inline;
            font-size: 4rem;
            line-height: 46px;
            padding-bottom: 8px;
            background: $background-color;

            &::-ms-clear { display: none; }

            &:active, &:focus {
                border: none;
                background: $background-color;
            }
        }

        .search-icon {      
            float: right;
            background: transparent;
            color: fade($dark-color, 25%);
            border: none;
            padding: 17px 0px 17px 0px;
            font-size: 2.6rem;

            i { transition: color .4s ease; }

            &:hover { 
                i { color: $brand-color; }
            }
        }

        .slider { 
            position: absolute;
            bottom: 0;
            left: 0;
            height: 3px;
            background: fade($dark-color, 20%);
            width: 100%;
        }

        .slider-after {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 3px;
            width: 100%;
            width: 0%;
            background: $brand-color;
        }
    }

    .search-results {
        margin: 0 auto;
        height: 80%;
        max-width: 1192px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        p {
            text-align: center;
            font-size: 3rem;
            font-weight: bold;
            margin-bottom: 10px;  
        }
    }
}

.result-item {
    padding: 10px;

    @media #{$xs} { padding: 5px; }

    .result-link {
        display: inline-block;
        width: 100%;
        border: 1px solid fade($dark-color, 20%);
        background: fade($dark-color, 5%);
        color: fade($dark-color, 60%);
        transition: background .4s ease, box-shadow .4s ease;

        h4 { 
            font-size: 2rem; 

            @media #{$xs} { font-size: 1.6rem; }

            @media #{$sm} { font-size: 1.8rem; }
        }

        p {
            margin: 0px;
            margin-right: 10px;
            font-size: 1.6rem;
            float: left;
            color: fade($dark-color, 60%);

            i { padding-right: 5px; }

            @media #{$xs} { font-size: 1.4rem; }

            @media #{$sm} { font-size: 1.5rem; }
        }

        &:hover {
            box-shadow: 0 2px 5px fade($dark-color, 30%);
            background: fade($light-color, 75%);
        }

        .result-item-image {
            height: 100px;
            width: 100px;
            background-position: 50%;
            background-size: cover;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            display: inline-block;
            overflow: hidden;

            @media #{$xs} {
                height: 80px;
                width: 80px;
            }
        }

        .result-item-content {
            padding: 10px;
            padding-left: 110px;

            @media #{$xs} { 
                padding: 5px;
                padding-left: 85px;
            }
        }
    }
}