//===================================
// Misc
//===================================

.lazyload, .lazyloading {
  opacity: 0;
  transform: scale(0.85);
}

.lazyload.animated, .lazyloading.animated {
  opacity: 0;
  transform: scale(1);
}

.lazyloaded {
  opacity: 1;
  transform: scale(1);
  transition: transform .6s ease, opacity 1s ease;
}