//===================================
// Main Components
//===================================

// Featured Carousel
@import 'components/_components.featured-carousel';

// Misc
@import 'components/_components.misc';

// Navbar
@import 'components/_components.header';

// Timeline
@import 'components/_components.timeline';

// Subscribe
@import 'components/_components.subscribe';

// Footer
@import 'components/_components.footer';

// Social Media
@import 'components/_components.social-media';

// Social share
@import 'components/_components.social-share';

// Author
@import 'components/_components.author';

// Author Box
@import 'components/_components.author-box';

// Tag Cloud
@import 'components/_components.tag-cloud';

// Tag Page
@import 'components/_components.tag'; 

// Post
@import 'components/_components.post'; 

// Page
@import 'components/_components.page';

// Contact
@import 'components/_components.contact';

// Error
@import 'components/_components.error';

// Comments
@import 'components/_components.comments'; 

// Prev/Next posts
@import 'components/_components.read-next';

// Search
@import 'components/_components.search';
