//===================================
// Featured carousel
//===================================

.latest-posts {
  margin-top: 2em;
  margin-bottom: 2em;
}

.masonry{
//   display: block;
// -webkit-column-gap: 2.25rem;
// -moz-column-gap: 2.25rem;
// column-gap: 12.25rem;
}

/* 5 columns */
.masonry.masonry-columns-5{
-webkit-column-count: 5;
-moz-column-count: 5;
column-count: 5;
}
@media(max-width: 1170px){
  .masonry.masonry-columns-5{
-webkit-column-count: 4;
-moz-column-count: 4;
column-count: 4;
}
}


/*-4 columns------*/
.masonry.masonry-columns-4{
-webkit-column-count: 4;
-moz-column-count: 4;
column-count: 4;
}

/*-3 columns------*/
.masonry.masonry-columns-3{
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
}

/*-2 columns------*/
.masonry.masonry-columns-2{
-webkit-column-count: 2;
-moz-column-count: 2;
column-count: 2;
}

/*-1 columns------*/
.masonry.masonry-columns-1{
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
}


/*--------Responsive---------*/
@media(max-width: 991px){
  .masonry.masonry-columns-4, 
  .masonry.masonry-columns-5{
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
}
}

@media(max-width: 767px){
  .masonry.masonry-columns-4, 
  .masonry.masonry-columns-5,
  .masonry.masonry-columns-3{
-webkit-column-count: 2;
-moz-column-count: 2;
column-count: 2;
}
}

@media(max-width: 540px){
  .masonry.masonry-columns-4, 
  .masonry.masonry-columns-5,
  .masonry.masonry-columns-3,
  .masonry.masonry-columns-2{
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
}
}

.masonry .masonry-item{
}

.masonry .masonry-item {
  background-color: $light-color;
  margin-bottom: 1em;
    display: inline-block;
    width: 100%;
    transition: all 0.4s ease-in-out; 
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);

    .masonry-post__image {
      display: block;
    }

    hr { background-color: #ededed; }

    .masonry-post__content {
      padding: 0.75em;
      padding-top: 0;

      .post-title {
        font-size: 1.6rem;
      }

      .post-info, .post-info a {
        color: lighten($dark-color, 40%);
      }

      .tag-comment {
        color: lighten($dark-color, 60%); 

        a { color: lighten($dark-color, 40%); }

        .pull-left i {
          margin-right: 0.25em;
        }
      }
    }

    .read-more { 
      border: 1px solid #ccc;
      padding: 0.25em 0.5em;
    }


  }
    .masonry .masonry-item:hover {
      transition: all 0.4s ease-in-out; 
      -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    }
    .masonry .masonry-item p {
      color: lighten($dark-color, 40%); 
    }

/*=====  End of masonry Page  ======*/