//===================================
// Header
//===================================

.navbar__default {
	position: fixed;
	top: 0;
	border-radius: 0;
	background-color: transparent;
	border: none;
	width: 100%;
	max-width: 100vw;
	z-index: 10;
	height: 5em;
	transition: color $global-transition, background $global-transition;

	.navbar-header {
		float: none;
		margin: 0 auto;

		& > div { padding: 0; }

		@include mq($from: sm) { max-width: $max-width-sm; }
		@include mq($from: md) { max-width: $max-width-md; }
		@include mq($from: lg) { max-width: $max-width-lg; }
	}

	.navbar-search {

		.navbar-search.btn-search--open {
			display: inline-block;
			height: 3em;
			margin: $spacing-base 0;
			cursor: pointer;
			color: $color-light;
			transition: color $global-transition, background $global-transition;

			.navbar-search__group {
				padding: 0.7em 0;
        font-weight: $font-weight-bold; 
			}

			p {
				display: inline-block;
				padding-left: $spacing-small;
				transition: color $global-transition, background $global-transition;
				margin: 0;
			}
		}
	}

	.navbar-logo {
		text-align: center;

		.navbar-title {
			color: $color-light;
			margin: 0;
			padding: 17px 0;
		}

		a img {
			height: 50px;
			transition: height ($global-transition);
			max-height: 40px;
			margin: 1.5em 0;

			@include mq($from: sm) {
				max-height: none;
				margin: $spacing-base 0;
			}
		}
	}

	.btn-navbar--open {
		height: 40px;
		margin: 20px 0;
		padding: 0 10px;
	}

	&.navbar--scrolled { 
		background-color: rgba($color-dark, 0.85);
		height: 50px;

		.navbar-logo a img { 
			transition: height $global-transition;
		}

		.navbar-title { 
			font-size: 1.6rem;
			padding: 7px 0;
			transition: padding $global-transition;
		}

		.navbar-search.btn-search--open .navbar-search__group {
			padding: 0.2em 0;
			transition: height $global-transition, padding $global-transition;
		}

		.navbar-logo img,
		.btn-navbar--open,
		.navbar-search.btn-search--open {
			height: 30px;
			margin: 10px 0;
			transition: height $global-transition, padding $global-transition;
		}

		.navbar-search span { transition: height $global-transition; }
	}
}

.navbar-navigation {
	@include absolute-full-width;
	display: flex;
	align-items: center;
	font-family: $font-family-base;
	width: 100%;
	height: 100vh;
	background-color: $color-dark;
	z-index: 20;
  visibility: hidden;
  backface-visibility: hidden;
  transform: translateX(100%);
  transition: transform 0.5s, visibility 0s 0.5s;

  &.open {
	  visibility: visible;
	  transform: translateX(0%);
	  transition: transform 0.5s; 
	}

	.navbar-nav {
    font-size: 1.6em;
    text-transform: uppercase;
    text-align: center;
    flex: 1 0 auto;

    li { 
    	float: none; 

    	a { 
    		color: $color-light;
				background-color: transparent;
				display: inline-block;

    		&:hover { color: $color-link; }
    	}
    }
	}
}

body.nav--opened,
body.search--opened {
	overflow-y: hidden;
}

@include mq($from: sm) {
	body.nav--opened .main,
	body.search--opened .main,
	body.nav--closed .main,
	body.search--closed .main {
		transition: transform ($global-transition);
	}

	body.nav--opened .main {
		transform: translateX(-50%); 
	}

	body.search--opened .main {
		transform: translateX(50%); 
	}
}