//===================================
// Featured carousel
//===================================

.latest-posts {
  margin-top: 2em;
  margin-bottom: 2em;
}

.masonry{
//   display: block;
// -webkit-column-gap: 2.25rem;
// -moz-column-gap: 2.25rem;
// column-gap: 12.25rem;
}

/*-3 columns------*/
.masonry.masonry-columns-3{
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;

  @media #{$sm} {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  @media #{$lg} {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

// /* 5 columns */
// .masonry.masonry-columns-5{
// -webkit-column-count: 5;
// -moz-column-count: 5;
// column-count: 5;
// }

// @media(max-width: 1170px){
//   .masonry.masonry-columns-5{
//   -webkit-column-count: 4;
//   -moz-column-count: 4;
//   column-count: 4;
//   }
// }


// /*-4 columns------*/
// .masonry.masonry-columns-4{
// -webkit-column-count: 4;
// -moz-column-count: 4;
// column-count: 4;
// }

// /*-3 columns------*/
// .masonry.masonry-columns-3{
// -webkit-column-count: 3;
// -moz-column-count: 3;
// column-count: 3;
// }

// /*-2 columns------*/
// .masonry.masonry-columns-2{
// -webkit-column-count: 2;
// -moz-column-count: 2;
// column-count: 2;
// }

// /*-1 columns------*/
// .masonry.masonry-columns-1{
// -webkit-column-count: 1;
// -moz-column-count: 1;
// column-count: 1;
// }


// /*--------Responsive---------*/
// @media(max-width: 991px){
//   .masonry.masonry-columns-4, 
//   .masonry.masonry-columns-5{
// -webkit-column-count: 3;
// -moz-column-count: 3;
// column-count: 3;
// }
// }

// @media(max-width: 767px){
//   .masonry.masonry-columns-4, 
//   .masonry.masonry-columns-5,
//   .masonry.masonry-columns-3{
// -webkit-column-count: 2;
// -moz-column-count: 2;
// column-count: 2;
// }
// }

// @media(max-width: 540px){
//   .masonry.masonry-columns-4, 
//   .masonry.masonry-columns-5,
//   .masonry.masonry-columns-3,
//   .masonry.masonry-columns-2{
// -webkit-column-count: 1;
// -moz-column-count: 1;
// column-count: 1;
// }
// }

.masonry .masonry-item {
  background-color: $light-color;
  margin-bottom: 1em;
  display: inline-block;
  width: 100%;
  transition: all 0.4s ease-in-out; 
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);

  &:hover {
    transition: all 0.4s ease-in-out; 
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }

  .masonry-post__image {
    display: block;

    // &:hover 
  }

  p, h6 { color: lighten($dark-color, 40%); }

  hr { background-color: #ededed; }

  .masonry-post__content {
    padding: 0.75em;
    padding-top: 0;

    .post-title {
      font-size: 1.6rem;
    }

    .post-info a {
      color: lighten($dark-color, 40%);
      text-transform: uppercase;

      &:hover {
        color: $link-color-hover;
      }
    }

    .tag-comment {
      color: lighten($dark-color, 60%);

      .comment-count {
        color: lighten($dark-color, 60%);
      }

      .pull-left i {
        margin-right: 0.25em;
      }

      .masonry-post-share {
        cursor: pointer;
        color: lighten($dark-color, 60%);
        margin-right: 0.25em;

        &:hover + .masonry-post-share__social {
          display: inline;
        }
      }
    }

    .masonry-post-share__social { 
      display: none;

      a {
        padding: 0 0.2em;
        display: inline-block;
        text-align: center;

        &:hover {
          opacity: 0.7;
        }
      }

      &:hover {
        display: inline;
      }
    }
  }

  .read-more { 
    border: 1px solid $border-color;
    padding: 0.4em 0.8em;
    transition: all $transition-speed-base;
    display: inline-block;
    color: lighten($dark-color, 40%);

    &:hover {
      background-color: $dark-color;
      border-color: $dark-color;
      color: $light-color;
    }
  }

  hr { margin: 0.75em 0; }

}