//===================================
// Social Media
//===================================

.facebook, .facebook:hover { color: $facebook; }
.twitter, .twitter:hover { color: $twitter; }
.behance, .behance:hover { color: $behance; }
.dribbble, .dribbble:hover { color: $dribbble; } 
.email, .email:hover { color: $email; }
.google, .google:hover { color: $google; }
.google-plus, .google-plus:hover { color: $google-plus; }
.instagram, .instagram:hover { color: $instagram; }
.linkedin, .linkedin:hover { color: $linkedin; }
.pinterest, .pinterest:hover { color: $pinterest; }
.reddit, .reddit:hover { color: $reddit; }
.rss, .rss:hover { color: $rss; }
.skype, .skype:hover { color: $skype; } 
.soundcloud, .soundcloud:hover { color: $soundcloud; }
.spotify, .spotify:hover { color: $spotify; }
.stumbleupon, .stumbleupon:hover { color: $stumbleupon; }
.trello, .trello:hover { color: $trello; }
.tumblr, .tumblr:hover { color: $tumblr; }
.whatsapp, .whatsapp:hover { color: $whatsapp; }
.youtube, .youtube:hover { color: $youtube; }
