//===================================
// Featured carousel
//===================================

.timeline {
  padding: 3em 1em;
  // background: $light-color;

}

.timeline-list {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;

  &:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    background-color: rgba($dark-color, 0.2);
    left: 50%;
    margin-left: -1.5px;
  }

  .timeline-post--inverted {
    float: left; 
    clear: left;
    margin-top: 30px;
    margin-bottom: 30px;

    &:first-of-type { margin-top: 5em; }
  }

  .timeline-post {
    margin-bottom: 20px;
    position: relative;
    width: 50%;
    float: left;
    clear: left;

    &.timeline-post--inverted { 
      float: right; 
      clear: right;

      &:first-of-type { margin-top: 5em; }
    }

    &:before, &:after { 
      content: " ";
      display: table;
    }

    &:after { clear:both; }
  }
}

.timeline-card {
  width: 95%;
  float: left;
  position: relative;
  // border: 1px solid $border-color;

  // &:before {
  //   position: absolute;
  //   top: 26px;
  //   right: -15px;
  //   display: inline-block;
  //   border-top: 15px solid transparent;
  //   border-left: 15px solid #ccc;
  //   border-right: 0 solid #ccc;
  //   border-bottom: 15px solid transparent;
  //   content: " ";
  // }

  &:after {
    position: absolute;
    top: 5em;
    right: -1em;
    display: inline-block;
    border-top: 1em solid transparent;
    border-left: 1em solid $border-color;
    border-right: 0 solid $border-color;
    border-bottom: 1em solid transparent;
    content: " ";
  }

  .timeline-card__content {
    padding: 1em;
    background: $light-color;
    border: 1px solid $border-color;
  }
}

.timeline-post--inverted {
  float: right;
  
  .timeline-card {
    float: right;

    &:before {
      border-left-width: 0;
      border-right-width: 15px;
      left: -15px;
      right: auto;
    }
    
    &:after {
      border-left-width: 0;
      border-right-width: 14px;
      left: -14px;
      right: auto;
    }
  }
}

// .timeline-badge > a {
//   color: #C5C7C5 !important;
// }
// .timeline-badge a:hover {
//   color: #000 !important;
// }
// .timeline-title {
//   margin-top: 0;
//   color: inherit;
// }
// .timeline-body > p,
// .timeline-body > ul {
//     padding:20px;
//     margin-bottom: 0;
// }
// .timeline-body > p + p {
//   margin-top: 5px;
// }
// .timeline-footer{
//     padding:20px;
//     background-color:#f4f4f4;
// }
// .timeline-footer > a{
//     cursor: pointer;
//     text-decoration: none;
// }
// .tooltip{

//     position:absolute;
//     z-index:1020;
//     display:block;
//     visibility:visible;
//     padding:5px;
//     font-size:11px;
//     opacity:0;
//     filter:alpha(opacity=0);
    
// }
// .tooltip.in{
//     /*opacity:0;
//     filter:alpha(opacity=80);*/
    
// }
// .tooltip.top{
//     margin-top:-2px;
// }
// .tooltip.right{
//     margin-left:2px;
// }
// .tooltip.bottom{
//     margin-top:2px;
// }
// .tooltip.left{
//     margin-left:-2px;
// }
// .tooltip.top .tooltip-arrow{
//     bottom:0;
//     left:0;
//     margin-left:0;
//     border-left:0 solid transparent;
//     border-right:5px solid transparent;
//     border-top:0 solid #000;
// }
// .tooltip.left .tooltip-arrow{
//     bottom:0;
//     left:0;
//     margin-left:0;
//     border-left:0 solid transparent;
//     border-right:5px solid transparent;
//     border-top:0 solid #000;
// }
// .tooltip.bottom .tooltip-arrow{
//     bottom:0;
//     left:0;
//     margin-left:0;
//     border-left:0 solid transparent;
//     border-right:5px solid transparent;
//     border-top:0 solid #000;
// }
// .tooltip.right .tooltip-arrow{
//     bottom:0;
//     left:0;
//     margin-left:0;
//     border-left:0 solid transparent;
//     border-right:5px solid transparent;
//     border-top:0 solid #000;
// }
// .tooltip-inner{
//     width:200px;
//     padding:3px 8px;
//     color:#fff;
//     text-align:center;
//     text-decoration:none;
//     background-color:#313131;
//     -webkit-border-radius:0px;
//     -moz-border-radius:0px;
//     border-radius:0px;
// }
// .tooltip-arrow{
//     position:absolute;
//     width:0;
//     height:0;
// }
// .timeline > li.timeline-inverted{
//   float: right; 
//   clear: right;
//   margin-top: 30px;
//   margin-bottom: 30px;
// }
// .timeline > li:nth-child(2){
//   margin-top: 60px;
// }
// .timeline > li.timeline-inverted > .timeline-badge{
//   left: -12px;
// }





// @media (max-width: 767px) {
//     ul.timeline:before {
//         left: 40px;
//     }

//     ul.timeline > li {
//       margin-bottom: 20px;
//       position: relative;
//       width:100%;
//       float: left;
//       clear: left;
//     }
//     ul.timeline > li > .timeline-panel {
//         width: calc(100% - 90px);
//         width: -moz-calc(100% - 90px);
//         width: -webkit-calc(100% - 90px);
//     }

//     ul.timeline > li > .timeline-badge {
//         left: 28px;
//         margin-left: 0;
//         top: 16px;
//     }

//     ul.timeline > li > .timeline-panel {
//         float: right;
//     }

//         ul.timeline > li > .timeline-panel:before {
//             border-left-width: 0;
//             border-right-width: 15px;
//             left: -15px;
//             right: auto;
//         }

//         ul.timeline > li > .timeline-panel:after {
//             border-left-width: 0;
//             border-right-width: 14px;
//             left: -14px;
//             right: auto;
//         }
    
// .timeline > li.timeline-inverted{
//   float: left; 
//   clear: left;
//   margin-top: 30px;
//   margin-bottom: 30px;
// }

// .timeline > li.timeline-inverted > .timeline-badge{
//   left: 28px;
// }
// }

// .timeline-post {
//   padding: 2em 0;

//   &.left {
//     padding-right: 3em;

//     @media #{$xs} {
//       padding: 0;
//     }
//   }

//   &.right {
//     padding-left: 3em;
//     padding-top: 10em;

//     @media #{$xs} {
//       padding: 0;
//     }
//   }
// }


.timeline__divider {
  position: relative;
  padding: 3em 0;
  
  &:before {
    position: absolute;
    top: 0;
    content: "";
    border-left-style: solid;
    border-left-width: 1px;
    height: 100%;
    border-left-color: $brand-color;
    left: 50%;
    margin-left: -2px;
  }
}

.timeline__date .btn__common {
  background: transparent;
  padding: 1em;
  color: $dark-color;
}

.btn__common {
  @extend button;
}