//===================================
// Next/Prev posts style
//===================================

.read-next {
  display: flex;
  align-items: stretch;

  @media #{$xs} {
    flex-direction: column;
  }

  .read-next__story {
    padding: 1em;
    margin: 0 auto;
    text-align: center;
    flex-grow: 1;
    min-width: 100%;
    position: relative;
    color: $light-color;

    @media #{$sm} {
      min-width: 49%;
    }

    &.next {
      @media #{$xs} {
        margin-top: 1em;
      }
      
      @media #{$sm} {
        margin-left: 1em;
      }
    }

    &:hover {
      text-decoration: none;

      .read-next__image:after {
        opacity: 0.9;
        transition: color $global-transition, opacity $global-transition;
      }

      .read-next__info .read-next__icon {
        background-color: $light-color;
        color: $dark-color;
      }
    }

    &.no-image {
      .read-next__info {        
        .read-next__icon {
          border: 2px solid $dark-color;
          color: $dark-color;
        }
        .read-next__title {
          color: $dark-color;
        }
      }
    }

    .read-next__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include background-cover;

      &:after {
        content: "";
        transition: color $global-transition, background $global-transition;
        @include background-overlay;
        opacity: 0.6;
        background: linear-gradient(to bottom, rgba($dark-color, 0.6) 0%, rgba($dark-color, 0.8) 100%);
      }
    }

    .read-next__info {
      position: relative;
      
      .read-next__icon {
        display: inline-block;
        border: 2px solid $light-color;
        color: $light-color;
        width: 3em;
        height: 3em;
        border-radius: 50%;
        margin-top: 1em;
        transition: color $global-transition, background $global-transition;

        i { padding: 0.15em; }
      }

      .read-next__title {
        color: $light-color;
        margin: 0.5em 0;
        font-size: 1.2rem;

        @media #{$sm} { font-size: 1.3rem; }
        @media #{$md} { font-size: 1.4rem; }
        @media #{$lg} { font-size: 1.6rem; }
      }
    }
  }
}