/***************************************************************************/
/* Search                                                                  */
/***************************************************************************/
.search {
  background: $color-background;
  padding: 6em 1.5em 0;
  position: fixed;
  z-index: 999;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  backface-visibility: hidden;
  transform: translateX(-100%);
  transition: transform 0.5s, visibility 0s 0.5s;

  .btn-search--close {
    &:before, &:after {
      background-color: $color-dark;
    }
        
    &:hover:before,
    &:hover:after {
      background-color: $color-link;
    }
  }

  &.open {
    display: block;
    visibility: visible;
    transform: translateX(0%);
    transition: transform 0.5s;
  }

  .search-form {     
    margin: 0 auto 1.5em;
    max-width: 40em;
    position: relative;
    border-bottom: 2px solid $color-border;

    input { 
      color: $color-brand; 
      font-weight: $font-weight-bold;
      padding: 0;
      border: none;
      display: inline-block;
      line-height: 1.2;
      font-size: 2rem;
      width: 80%;
      background: $color-background;

      @include mq($from: sm) { font-size: 3rem; }
      @include mq($from: md) { font-size: 4rem; }

      &::-ms-clear { display: none; }

      &:active, &:focus {
        border: none;
        outline: none;
        background: $color-background;
      }
    }

    .search-icon {      
      float: right;
      background: transparent;
      color: darken($color-light, 60%);
      border: none;
      margin: 0;
      padding: 0;
      font-size: 1.4rem;

      @include mq($from: sm) { font-size: 2rem; }
      @include mq($from: md) { 
        font-size: 2.6rem;
        padding: 0.15em 0; 
      }

      i { transition: color .4s ease; }

      &:hover { 
        i { color: $color-brand; }
      }
    }

    .slider { 
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      background: fade($color-dark, 20%);
      width: 100%;
    }
  }

  .search-results {
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    max-width: 50em;
    padding-left: 0;
    margin-right: -15px;

    @include mq($from: sm) {
      margin: 0 auto;
      padding-left: 30px;
    }

    p {
      text-align: center;
      font-size: 1.2rem;
      margin: $spacing-small 0;  

      @include mq($from: lg) { font-size: 1.4rem; }
    }
  }
}

.result-item {
  max-width: 40em;
  margin: 0 auto;
  margin-bottom: $spacing-base;
  background-color: $color-light;
  box-shadow: 0 2px 5px darken($color-light, 20%);
  transition: box-shadow $global-transition;

  &:hover {
    box-shadow: 0 3px 8px darken($color-light, 30%);
  }

  .result-link {
    display: inline-block;
    width: 100%;
    padding: $spacing-base;

    h4 { 
      font-size: 1.2rem; 
      margin-top: 0;
      margin-bottom: $spacing-tiny;

      @include mq($from: lg) { font-size: 1.4rem; }
    }

    p {
      color: $color-dark;
      margin: 0;
      font-size: 1rem;
      float: left;
      text-align: left;

      @include mq($from: lg) { font-size: 1.2rem; }
    }
  }
}