.footer {
  background-color: rgba($dark-color, 0.8);
  color: rgba($light-color, 0.8);

  a { color: rgba($light-color, 0.8); }

  .footer-title {
    color: $brand-color;
    line-height: 1;
    margin-top: 0;
  }

  .row { padding: 2em 0; }

  .footer-section {
    border-bottom: 1px solid #888;
    margin-bottom: 1em;
  }

  .footer-section-title {
    margin: 0;
    font-size: 1.4rem;
    color: rgba($light-color, 0.8);
    position: relative;
    display: inline-block;

    // &:after {
    //   content: "";
    //   position: absolute;
    //   left: 0;
    //   background-color: $brand-color;
    //   height: 1px;
    //   width: 100%;
    //   margin-top: 1.6em;
    //   transition: all $transition-speed-base;
    // }
  }

  .footer-bottom {
    background-color: $dark-color;
    padding: 1em 0;
  }

  .footer-post {
    margin-bottom: 1em;

    .footer-post__image {
      width: 5em;
      height: 5em;
      float: left;
      background-color: $brand-color;
      @include background-cover;
    }

    .footer-post__info {
      height: 5em;
      margin-left: 5.5em;

      .footer-post__title, .footer-post__author {
        margin-top: 0;
        color: rgba($light-color, 0.8);
        margin-bottom: 0.25em;
        a {
          color: rgba($light-color, 0.8);

          &:hover {
            color: $link-color-hover;
          }
        }
      }
    }
  }

  .footer-divider {
    background-color: rgba($light-color, 0.4);
  }

  .footer-logo {
    max-height: 3em;
  }

  .social-media-list {
    margin: 0;
    padding: 0;

    .social-media-list__item {
      float: left;
      border: 1px solid rgba($light-color, 0.8);
      width: 2em;
      height: 2em;
      text-align: center;
      margin-right: 0.5em;
      transition: all $transition-speed-base;

      i {
        vertical-align: middle;
        color: rgba($light-color, 0.8);
      }

      &:hover {
        background-color: rgba($light-color, 0.8);
        transition: all $transition-speed-base;

        i {
          color: rgba($dark-color, 0.8);
          transition: all $transition-speed-base;
        }
      }
    }
  }

  .container .row > div:not(:first-child) {
    margin-top: 1em;
  }

  @media #{$md} { 
    .container .row > div:not(:first-child) {
      margin-top: 0em;
    }
  }

  .footer__bottom {
  }
}
