//===================================
// Comments
//===================================

.comments {
  .comments__panel {
    max-width: 52em;
    padding: 1em;

    @media #{$sm} {
      padding: 2em 0;
    }
  }
}