//===================================
// Misc
//===================================

.lazyload, .lazyloading {
  opacity: 0;
  transform: scale(0.85);
}

.lazyload.animated, .lazyloading.animated {
  opacity: 0;
  transform: scale(1);
}

.lazyloaded {
  opacity: 1;
  transform: scale(1);
  transition: transform .6s ease, opacity 1s ease;
}

.clearfix {
  zoom: 1;

  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after { clear: both; }
}

.scroll-wrapper {
  text-align: center;
  padding: 0.5em 0;
  width: 100%;
  left: 0;
  position: absolute;
  bottom: 1em;

  .scroll-down {
		color: darken($light-color, 20%);
    width: 3em;
    height: 3em;
    border: 2px solid $border-color;
    display: inline-block;
    transition: all $transition-speed-base;

    &:hover {
      background-color: darken($light-color, 20%);
      color: $dark-color;
    }

    i { 
      padding: 0.5em;
      font-size: 1.4em;
    }
  }
}

.full-page-cover {
  @include background-cover;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba($dark-color, 0.35), rgba($dark-color, 0.85));
  }
}