//===================================
// Social share
//===================================

.social-share {
  display: none;

  @media #{$sm} {
    &.sticky {
      position: fixed;
      z-index: 9999;
      top: 3em;
    }
  }

  @media #{$sm} {
    position: absolute;
    margin-left: -1.2em;
    padding-top: 1.5em;
  }

  a {
    width: 2.8em;
    height: 2.8em;
    border: 1px solid $dark-color;
    background-color: $light-color;
    border-radius: $global-border-radius;
    transition: color $global-transition, background $global-transition;
    margin-bottom: 0.5em;

    @media #{$sm} {
      display: block;
    }

    &:hover {
      background-color: $dark-color;
      color: $light-color;
    }
  }
}
