//===================================
// Featured carousel
//===================================

.featured-posts {
  background-color: $color-dark;
	
	.featured-post__image {
		min-height: 30em;
    height: 100vh;
		background-color: $color-dark;
		@include background-cover;
	}

	.featured-post__image--overlay {
		@include background-overlay;
	}

	.featured-posts__indicators {
    right: $spacing-base;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); 
    bottom: auto;
    left: auto;
    margin-left: auto;
    width: auto;
    z-index: 5;
    display: none;

    @include mq($from: sm) { display: block; }

		li {
			display: block;
	    width: 15px;
	    height: 15px;
	    margin: 0;
	    margin-bottom: 5px;
	    border: 2px solid rgba($color-light, 0.8);
	    border-radius: 100%;
	  }

    .active {
    	border: none;
			background-color: rgba($color-light, 0.8);
		}
	}

  .featured-posts__control-wrapper {
    position: absolute; 
    left: 0; 
    right: 0; 
    bottom: 0;
    margin-left: auto; 
    margin-right: auto; 
    width: 9em;
    height: 5em;
  }

	.carousel-control {
		top: auto;
		left: auto;
		right: 0;
    bottom: 0;
    width: 2.4em;
    height: 2.4em;
    margin: $spacing-base $spacing-base $spacing-large;
    background-color: transparent;
    background-image: none;
    border: 2px solid rgba($color-light, 0.8);
    border-radius: $global-border-radius;
    opacity: 1;

    &.left {
    	right: 2.4em;
    	margin-right: 1.5em;
    	
    	&:hover {
    		.carousel-control-prev { color: $color-dark; }
    	}
    }

    &.right {
    	&:hover {
    		.carousel-control-next { color: $color-dark; }
    	}
    }

    &:hover {
    	background-color: rgba($color-light, 0.8);
    	border-color: transparent;
    }
	}

	.carousel-control-prev,
	.carousel-control-next {
		position: absolute;
    color: rgba($color-light, 0.8);
    transition: $global-transition;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 1;
    font-size: 2rem;
    cursor: pointer;
	}

	.featured-post__content {
		color: $color-light;
		width: 100%;
    position: absolute;
    bottom: 10em;

    .featured-post__title a{
      color: $color-light;

      &:hover {
        color: $color-link-hover;
      }
    }

    .featured-post__tag,
    .featured-post__info {
    	color: $color-light;
      display: table;

    	a { 
    		color: $color-light; 

    		&:visited { color: $color-light; }
    	}
    }

    .featured-post__author, 
    .featured-post__date {
      display: inline-block;
    }

    .featured-post__date {
      &:after { margin: 0 0.4em 0 0.2em; }
    }

    .featured-post__comments { display: inline-block; }

    .featured-post__tag a,
    .featured-post__info a {
    	text-transform: uppercase;

    	&:hover { color: $color-link-hover; }
    }

    .featured-post__title {
      font-size: 2rem;
      animation-delay: $global-transition;
      
      @include mq($from: sm) { 
        font-size: 3rem;   
        margin: 0 0 0.4em;
        line-height: 1.3;
      }
      @include mq($from: md) { font-size: 3.5rem; }
      @include mq($from: lg) { 
        font-size: 4rem;
        line-height: 1.2;
      }
    }

    .featured-post__tag { 
      animation-delay: 0.8s; 

      @include mq($from: md) { font-size: 1.1rem; }
      @include mq($from: lg) { font-size: 1.2rem; }
    }

    .featured-post__info { 
      animation-delay: 0.4s; 
      margin-bottom: $spacing-base;

      &>div {
        padding: 0 0.75em;
        border-right: 1px solid $color-light;

        &:first-of-type { padding-left: 0; }
        &:last-of-type { 
          border: none; 
          padding-right: 0;
        }
      }

      @include mq($from: md) { font-size: 1.1rem; }
      @include mq($from: lg) { font-size: 1.2rem; }
    }
    
    .read-more { 
      animation-delay: 1.2s; 
      padding: $spacing-small 0;
      display: table;

      @include mq($from: md) { font-size: 1.1rem; }
      @include mq($from: lg) { font-size: 1.2rem; }

      a {
        border-width: 1px;
        font-weight: $font-weight-regular; 

        @include mq($from: sm) {
          padding: 0.35em 0.7em;
        }

        @include mq($from: lg) {
          padding: $spacing-small $spacing-base;
        }
      }
    }
	}
}