//===================================
// Featured carousel
//===================================

.featured-posts {
	
	.featured-post__image {
		min-height: 30em;
		background-color: $dark-color;
		@include background-cover;

		@media #{$lg} {
			height: 100vh;
		}
	}

	.featured-post__image--overlay {
		@include background-overlay;
	}

	.featured-posts__indicators {
    right: 1em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); 
    bottom: auto;
    left: auto;
    margin-left: auto;
    width: auto;
    z-index: 5;

    @media #{$xs} { display: none; }

		li {
			display: block;
	    width: 15px;
	    height: 15px;
	    margin: 0;
	    margin-bottom: 5px;
	    border: 2px solid rgba($light-color, 0.8);
	    border-radius: 100%;
	  }

    .active {
    	border: none;
			background-color: rgba($light-color, 0.8);
		}
	}

  .featured-posts__control-wrapper {
    position: absolute; 
    left: 0; 
    right: 0; 
    bottom: 0;
    margin-left: auto; 
    margin-right: auto; 
    width: 9em;
    height: 5em;
  }

	.carousel-control {
		top: auto;
		left: auto;
		right: 0;
    bottom: 0;
    width: 2.4em;
    height: 2.4em;
    margin: 1em;
    background-color: transparent;
    background-image: none;
    border: 2px solid rgba($light-color, 0.8);
    opacity: 1;

    &.left {
    	right: 2.4em;
    	margin-right: 1.5em;
    	
    	&:hover {
    		.carousel-control-prev { color: $dark-color; }
    	}
    }

    &.right {
    	&:hover {
    		.carousel-control-next { color: $dark-color; }
    	}
    }

    &:hover {
    	background-color: rgba($light-color, 0.8);
    	border-color: transparent;
    }
	}

	.carousel-control-prev,
	.carousel-control-next {
		position: absolute;
    color: rgba($light-color, 0.8);
    transition: $transition-speed-base;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 1;
    font-size: 2rem;
    cursor: pointer;
	}

	.featured-post__content {
		color: $light-color;
		width: 100%;
    position: absolute;
    bottom: 10em;

    .featured-post__tag,
    .featured-post__title,
    .featured-post__info {
    	margin: 0;
    	color: $light-color;
      font-family: $heading-font-family;

    	a { 
    		color: $light-color; 

    		&:visited { color: $light-color; }
    	}
    }

    .featured-post__author, 
    .featured-post__date {
      float: left;
      display: inline-block;

      &:after { 
        content: "|";
        margin: 0 0.4em;
        font-weight: $font-weight-regular;
      }
    }

    .featured-post__date {
      &:after { margin: 0 0.4em 0 0.2em; }
    }

    .featured-post__tag a,
    .featured-post__info a {
    	text-transform: uppercase;

    	&:hover { color: $link-color-hover; }
    }

    .featured-post__title {
      @media #{$xs} { font-size: 2rem; }
      @media #{$sm} { font-size: 3rem; }
      @media #{$md} { font-size: 3.5rem; }
      @media #{$lg} { font-size: 4rem; }
    }

    .featured-post__tag { 
      animation-delay: 1s; 

      @media #{$md} { font-size: 1.1rem; }
      @media #{$lg} { font-size: 1.2rem; }
    }

    .featured-post__info { 
      animation-delay: 0.5s; 

      @media #{$md} { font-size: 1.1rem; }
      @media #{$lg} { font-size: 1.2rem; }
    }
    
    .read-more { 
      animation-delay: 1.5s; 

      @media #{$md} { font-size: 1.1rem; }
      @media #{$lg} { font-size: 1.2rem; }
    }
	}
}