//===================================
// Subscribe
//===================================

.subscribe {
  @include background-cover;
  position: relative;
  padding: 5em 0;
  color: $light-color;

  .subscribe-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba($brand-color, 0.8);
  }

  h3 {
    color: $light-color;
    margin-top: 0;
  }

  .gh-subscribe {
    position: relative;
    z-index: 2;

    .gh-subscribe-rss {
      margin: 1em 0;
    
      a {
        color: $light-color;
        font-weight: $font-weight-bold;

        &:hover { color: $dark-color; }
      }
    }
  }

  .subscribe-form {
    .subscribe-form__input {
      background-color: transparent;
      padding: 0.5em;
      border: 2px solid $light-color;
      border-right: 0;
      width: 100%;
      max-width: 15em;
      color: $light-color;
      font-weight: $font-weight-bold;

      &:focus {
        outline: none;
      }
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba($light-color, 0.6);
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: rgba($light-color, 0.6);
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: rgba($light-color, 0.6);
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: rgba($light-color, 0.6);
      }
    }
    .subscribe-form__button {
      margin-left: -0.25em;

      &:hover { 
        i { color: rgba($brand-color, 0.6); }
      }
    }
  }
}
