//===================================
// Post style
//===================================

.post {
  background-color: $light-color;
}

.post-header {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: $dark-color;
  position: relative;

  &.post-without-image { 
    display: block; 
    min-height: auto;
    height: auto;
    background: transparent;

    .post-header__info {
      padding-top: 7em;

      .post-header__tag {
        a { 
          border-color: $dark-color;

          &:hover {
            background-color: $dark-color;
            color: $light-color;
          }
        }
      }

      .post-header__tag, 
      .post-header__title,
      .post-header__detail {
        color: $dark-color;

        a { color: $dark-color; }
      }

      .post-header__details {
        border-top: 1px solid $dark-color;
        border-bottom: 1px solid $dark-color;

        h6 {
          border-color: $dark-color;

          a, time, span { color: $dark-color; }
        }

        .post-header__comments a:hover { color: $dark-color; }
      }
    }
  }

  .post-header__info {
    text-align: center;

    .post-header__tag, 
    .post-header__title,
    .post-header__detail {
      color: $light-color;
      margin: 0.3em 0;

      a { color: $light-color; }
    }

    .post-header__title {
      font-size: 2rem;
      @media #{$xs} { margin: 0.5em 0; }
      @media #{$sm} { font-size: 3rem; }
      @media #{$md} { font-size: 3.5rem; }
      @media #{$lg} { font-size: 4rem; }
    }

    .post-header__tag {
      animation-delay: 0.5s;

      a { 
        border: 1px solid $light-color;
        padding: 0.25em 0.5em;
        text-transform: uppercase;
        margin-right: 0.25em;
        line-height: 2;
        transition: color $global-transition, background $global-transition;

        @media #{$sm} {
          font-size: 1.2rem;
        }

        &:hover {
          background-color: $light-color;
          color: $dark-color;
        }
      }
    }

    .post-header__details {
      display: inline-block;
      text-transform: uppercase;
      border-top: 1px solid $light-color;
      border-bottom: 1px solid $light-color;
      padding: 0.5em 0;
      animation-delay: 1s;

      h6 {
        margin: 0;    
        padding: 0 0.5em;
        border-right: 1px solid $light-color;

        a, time, span { color: $light-color; }

        a:hover { color: $link-color-hover; }

        @media #{$sm} {
          font-size: 1.2rem;
        }
      }

      .post-header__author,
      .post-header__date,
      .post-header__comments {
        display: inline-block;
      }

      .post-header__comments { 
        border-right: none; 

        a:hover { color: $light-color; }
      }
    }
  }
}

.post-content {
  max-width: 48em;
  padding-top: 2em;
  padding-bottom: 2em;

  article {
    max-width: 40em;
    margin: 0 auto;
    padding: 1em 0;

    p {
      margin-left: auto;
      margin-right: auto;

      @media #{$sm} { font-size: 1.2rem; }

      img { 
        width: calc(100% + 30px);
        margin: 1em -15px;

        @media #{$sm} {
          width: calc(100% + 5em);
          margin: 1em -2.5em;
          max-width: 50.52em;
        }
      }
    }
  }
}