//===================================
// Error 404 style
//===================================

.error-404 {
  position: relative;
  text-align: center;
  color: $light-color;

  .error-404__title {
    font-size: 10rem;
    color: $light-color;
    margin: 0;
    line-height: 1;
  }

  .error-404__text {
    margin-top: 0;
    margin-bottom: 0.25em;
    font-size: 2rem;
    font-weight: $font-weight-bold;
  }

  .error-404__description {
    font-size: 1.2rem;
    margin: 0.25em 0;
  }

  .error-404__links {
    margin: 2em 0;

    a { margin-right: 0.5em; }
  }
}